
@media screen and (max-width: 767px) {
  button.js-slideout-toggle {
    display: block
  }
  nav {
    display: none
  }
  #logotype {
    text-align: right;
    a {
      font-size: 32px
    }
  }
  #cart {
    a {
      margin: 5px 0 10px 0;
    }
  }
  #cartinner {
    top: 36px;
  }
  #mainBanner {
    overflow: hidden;
    a {
      font-size: 12px;
      white-space: nowrap;
    }
  }
  span.carouseltitle {
    bottom: 3px !important;
    font-size: 18px !important;
    left: 3px !important;
  }
  .category {
    h2 {
      font-size: 12px;
    }
  }
  .descarticles {
    .thumbnail {
      height: auto;
    }
  }
  .presentarticles {
    max-width: 400px;
    margin: 0 auto;
    color: red;
  }
  #brands {
    li.brands {
      a {
        line-height: 35px;
        font-size: 15px;
      }
    }
  }
  #bedding_submenu {
    img {
      width: 50px;
    }
    p {
      font-size: 12px;
    }
  }
  #bedding_filter {
    a.heading, p.heading {
      font-size: 12px;
    }
    .filter_goods {
      font-size: 11px;
    }
    .formstyle .radio:not(checked) + label {
      padding: 0 0 0 25px;
    }
    .formstyle .checkbox:not(checked) + label {
      padding: 0 0 0 45px;
    }
  }
  .splCont {
    display: block;
    //padding: 5px 15px;
  }

  #list_sort {
    .dropdown {
      margin-bottom: 15px;
    }
  }

  .item_container {
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
  }
  #products_list > li {
    height: 260px;
  }
  #products_list > li:hover {
    overflow: hidden;
  }

  #product_page > div:first-child {
    padding-right: 0;
  }
  #product_page {
    .heading {
      font-size: 16px;
    }
  }
  #carousel{
    display: none;
  }
  #product_description{
    padding: 0 15px;
  }

  .cartpage_item{
    position: initial;
    height: initial;
    .heading_item{
      position: initial;
      h1{
        font-size: 16px;
        margin-top: 0;
      }
    }
    .image_item{
      width: 100px;
      float: left;
      margin: 0 10px 10px 0;
      img{
        width: 100%;
      }
    }
    .desc_item{
      position: initial;
      .size_inner{
        margin-left: 100px;
      }
      .size_inner > ul{
        right: 26px;
      }
    }
    .desc_item .size ul{
      margin-left: 110px;
    }
    .desc_item{
      .price{
        float: initial;
        margin-left: 110px;
      }
      .quantity{
        float: initial;
        margin-left: 110px;
        margin-right: 0;
      }
      .total{
        float: initial;
        margin-left: 110px;
      }
    }
  }

  #order {
    padding-left: 15px;
  }

  .splCont {
    display: none;
    padding: 5px 15px;
  }
  .splLink{
    display: block;
  }
}

