.slideout-menu { right: auto; }
.btn-hamburger { right: auto; /*right: 12px;*/}

button.js-slideout-toggle{display: none}

.menu {
  background-color: #767676;
  font-family: 'Ubuntu', sans-serif;
  border-right: 1px solid #b4b3b3;
}
#menu ul{
  display: block;
}

.menu a {
  color: #fff;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  //background-size: 32px;
  background: #444;
}

.menu-header-title {
  letter-spacing: 0.1em;
  font: 25px 'Fascinate', cursive;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
}

.menu-section-first {
  width: 100%;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  color: #dddddd;
  a{
    display: block;
    padding: 10px 30px;
    font-size: 16px;
   }
}
.menu-section-first > li > a{
  background-color: #e6e6e6;
  color: #666;
}

.menu-section-second{
  background-color: #ffffff;
  padding: 5px 0 5px 10px;
  text-transform: none;
  a{
    color: $fontColor;
    padding: 10px 0 10px 30px;
  }
  hr{
    margin-top: -10px;
    margin-bottom: 5px;
  }
}

#mocha {
  text-align: left;
  margin: 0 !important;
}

#mocha-stats {
  top: 70px;
}

.btn-hamburger {
  border: none;
  position: absolute;
  top: 24px;
  left: 10px;
  outline: none;
  //background: url('../menu.png') no-repeat center;
  background: rgba(255,255,255,0.8);
  width: 60px;
  height: 60px;
  font-size: 45px;
  z-index: 99;
}

.heart {
  font-style: normal;
  font-weight: 600;
  color: #c0392b;
  text-decoration: none;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slidecontainer{border:none;margin-bottom: 0}