$fontColor: #666;

body {
  font: 14px 'PT Sans', sans-serif;
  color: $fontColor;
}

.btn-default {
  border-radius: 0;
}

.badge {
  padding: 2px 4px;
  font-size: 10px;
  color: $fontColor;
  background-color: #fff;
  border: 1px solid $fontColor;
}

.form-control {
  border-radius: 0;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

@import "slideout";
//@import "formstyle";

#topstring {
  background-color: #f0f0f0;
  text-align: right;
}

#toplink {
  float: left;
  background: #fff;
  padding: 4px 10px;
  a {
    color: $fontColor;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
  }
}

#toptext {
  padding: 4px 0;
  margin-right: 3px;
  font-size: 12px;
  float: right;
}

#topphone {
  float: right;
  padding: 4px 0 4px 10px;
  font-size: 12px;
  border-left: 1px solid #ccc;
}

#logotype, #cart {
  padding: 0;
}

#logotype {
  a {
    display: inline-block;
    margin: 25px 0 0 0;
    font-size: 45px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #444444;
  }
  p {
    font-family: 'Ubuntu', sans-serif;
  }
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}

// Cart -------------------------------------------------------------------
#cart > a {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 60px 0 0 0;
  padding: 7px 20px;
  text-decoration: none;
}

#cartinner {
  display: none;
  border: 1px solid #b4b3b3;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  position: absolute;
  z-index: 100;
  background: #fff;
  right: 0;
  top: 92px;
}

#cartlistgoods {
  max-height: 400px;
  overflow-y: scroll;
}

#cartinner > div:first-child {
  background-color: #b4b3b3;
  height: 40px;
  p {
    color: #333;
    font-weight: 600;
    margin-left: 10px;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
  }
}

.itemincart {
  margin-left: 0;
  margin-right: 0;
  padding: 0 5px;
  .cartoldprice {
    text-decoration: line-through;
    font-size: .8em;
    line-height: 0;
  }
  .cartnewprice {
    color: #900;
    margin-bottom: 6px;
  }
}

.itemincart div {
  padding: 10px;
  img {
    width: 50px;
  }
}

.itemincart.subtotal {
  text-align: right;
  border-top: 1px solid #ddd;
}

.carttitlegood > p:first-child {
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
}

#cartfooter {
  background-color: #b4b3b3;
  height: 50px;
}

#cartfooter a:first-child {
  color: #333;
  margin-left: 10px;
  line-height: 50px;
  border-bottom: 1px solid #666;
  text-decoration: none;
}

#cartfooter a:last-child {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 10px 10px 0 0;
  padding: 7px 20px;
  text-decoration: none;
}

#cart:hover #cartinner {
  display: block
}

// --------------------------------------------------------------------

// Navpanel -----------------------------------------------------------
nav > ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  a {
    color: $fontColor;
  }
}

.nav-top-section {
  display: none;
  position: absolute;
  z-index: 100;
}

.nav-top-section {
  list-style: none;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #222;
  padding: 15px;
  //display: flex;
  justify-content: left;
  flex-flow: row wrap;
}

.nav-top-title > a {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

.nav-top-title > p {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  margin: 0;
}

.nav-top-title > a:hover, .nav-top-title > p:hover {
  color: $fontColor;
}

.nav-top-title {
  padding: 10px 0;
}

.nav-second-title {
  padding: 15px;
  img {
    width: 70px;
    margin-bottom: 10px;
  }
}

.nav-second-title > a {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-second-section {
  list-style: none;
  margin-top: 2px;
  padding: 0;
}

.nav-second-section li {
  margin-bottom: 3px;
}

.nav-second-section a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.nav-second-section a:hover {
  color: #9d9d9d;
}

.nav-top-title:hover > .nav-top-section {
  display: flex
}

// ------------------------------------------------------------

#mainBanner {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 55px;
  text-align: center;
  a {
    line-height: 55px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: $fontColor;
    text-decoration: none;
    span {
      font-size: 1.1em;
    }
  }
}

ul.crumbs {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.crumbs li {
  display: inline;
  font-size: 0.8em;
}

.crumbs a {
  color: #999;
  padding: .4em .4em;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.crumbs span {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

.maincontent {
  margin-top: 15px;
  .heading {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0 20px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
  }
}

.rightcontent {
  padding-right: 0;
}

//Sidebar -------------------------------------------------------------
#leftsidebar {
  padding-left: 0;
  padding-right: 0;
}

#sidebar_catalog {
  padding-left: 0;
  padding-right: 0;
  h4.heading {
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
  }
  ul {
    padding-left: 10px;
  }
  li {
    list-style: none;
  }
  li > a {
    color: #666;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
  }
  li > a:hover {
    color: #9d9d9d;
  }
}

#bedding_filter {
  margin: -10px 0 0 0;
  font-family: 'Ubuntu', sans-serif;
  ul {
    list-style: none;
    padding-left: 10px;
    li {
      font-size: 11px;
      font-family: 'Ubuntu', sans-serif;
    }
  }
  h4 {
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
  }
  a.heading {
    font-size: 14px;
  }
  input {
    display: initial;
  }
  label {
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 0;
    margin-left: 10px;
    color: $fontColor;
    font-size: 12px;
    cursor: pointer;
  }
  label:hover {
    color: #9d9d9d;
  }
  input[type='submit'] {
    float: right;
    margin: 10px 10px 0 0;
  }
}

// -------------------------------------------------------------

//Carousel ------------------------------------------------------------
.item-responsive {
  position: relative;
}

.item-responsive:before {
  display: block;
  width: 100%;
}

.item-16by9 {
  padding-top: 56.25%;
}

.item-responsive > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
}

.carousel-caption {
  //background: rgba(0,0,0,0.3);
  height: 96%;
  padding-bottom: 0;
  padding-top: 0;
  left: 4%;
  width: 92%;
  text-align: right;
  .labelbox {
    float: right;
    height: 190px;
    padding: 27px 25px;
    background: url("../image/label.png") no-repeat;
    background-size: 100% 70%;
    span {
      z-index: 10;
    }
    .carouselprice {
      font-size: 24px;
      top: 45px;
      right: 29px;
      font-weight: 600;
    }
    .carouseloldprice {
      color: #2f3034;
      text-decoration: line-through;
      font-size: 20px;
      top: 20px;
      right: 34px;
    }
  }
  .carouseltitle {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    bottom: 10px;
    left: 10px;
  }
}

#carousel {
  margin: 10px auto 30px auto;
}

// ------------------------------------------------------------

// Categories -------------------------------------------------
.category {
  padding: 0;
  list-style: none;
  .thumbnail {
    border: none;
  }
  .caption {
    padding: 0;
  }
  h2 {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 10px 0;
  }
}

// ------------------------------------------------------------

#brands {
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
  li.brands {
    float: left;
    border: 1px solid #dddddd;
    text-align: center;
    margin: 10px 10px;
    padding: 5px 30px;
    a {
      line-height: 50px;
      color: $fontColor;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.presentarticles {
  font-family: 'Ubuntu', sans-serif;
  .thumbnail {
    height: 300px;
    overflow: hidden;
    //border-radius: 0;
    img {
      width: 100%;
    }
    h4 {
      font-size: 16px;
    }
  }
}

#toTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  transition: background-color 0.2s, color 2s;
  //border-radius: 0;
}

footer {
  min-height: 360px;
  padding-top: 20px;
  background-color: #f0f0f0;
  border-top: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  margin-top: 30px;
  .container {
    padding: 0;
  }
  .heading {
    font-size: 13px;
    color: #222;
    text-transform: uppercase;
    margin: 10px 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 1.9em;
    }
  }
  a {
    color: $fontColor;
  }
  a:hover {
    text-decoration: none;
    color: #9d9d9d;
  }
  label {
    font-weight: 100;
  }
}

#bedding_submenu {
  img {
    height: 50px;
  }
  ul {
    a {
      p {
        font-size: 12px;
      }
    }
  }
}

#bedding_submenu > p.heading {
  font-size: 14px;
}

#bedding_submenu > ul {
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  li {
    text-align: center;
    a {
      display: block;
      color: $fontColor;
    }
  }
}

// sort ------------------------------------------------------------------
#list_sort {
  .dropdown {
    float: right;
    margin-right: 15px;
    margin-bottom: 5px;
    #dropdownSort {
      //border-radius: 0;
    }
    .dropdown-menu {
      border-radius: 0;
      margin-top: 0;
    }
  }
}

// -----------------------------------------------------------------------

// products-block ---------------------------------------------------------
#products_block {
  margin-bottom: 25px;
  .product_count {
    margin: 0;
    p {
      font-weight: 600;
    }
  }
}

#products_list > li {
  height: 315px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  .list_hidden {
    display: none;
  }
}

#products_list > li:hover {
  overflow: inherit;
  .item_container {
    position: relative;
    height: initial;
    z-index: 100;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 1px #eee;
  }
  .list_hidden {
    display: block;
  }
  .list_heading.clampestitle {
    display: none;
  }
}

#products_list {
  list-style: none;
  padding: 0;
  margin: 0;
  .list_image {
    height: 200px;
    overflow: hidden;
  }
}

.item_container {
  //padding: 20px 20px 10px 20px;
  padding: 10px;
  a {
    text-decoration: none;
    color: $fontColor;
  }
  img {
    width: 100%;
  }
  .list_heading {
    font-weight: 100;
    font-size: 14px;
    margin: 10px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
  }
  .list_price {
    color: $fontColor;
    text-align: right;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0;
    span:not([class]) {
      color: #000;
      //font-weight: 600;
      //font-size: .9em;
    }
    .old_price {
      font-size: 12px;
      text-decoration: line-through;
    }
    .new_price {
      color: #990000;
    }
  }
  .list_size,
  .list_material,
  .list_brand,
  .list_pillowcases{
    font-size: 13px;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  .list_size,
  .list_material,
  .list_brand,
  .list_pillowcases{
    span {
      color: #000;
    }
  }
  .list_material,
  .list_brand,
  .list_pillowcases{
    line-height: 20px;
  }
  .desc_price {
    padding-left: 0px;
    list-style: none;
    span:not([class]) {
      color: #000;
      //font-weight: 600;
      font-size: .9em;
    }
    li {
      line-height: 35px;
    }
    img {
      height: 24px;
      width: initial;
      margin: 0 10px 0 0;
    }
    .old_price {
      font-size: 12px;
      text-decoration: line-through;
    }
    .new_price {
      color: #990000;
    }
  }
}

// ------------------------------------------------------------------------------
#article_under_catalog {
  line-height: 24px;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  p {
    margin: 5px 0 20px 0;
    text-align: justify;
  }
  a {
    text-transform: uppercase;
    color: #333;
  }
}

// good_page -----------------------------------------------------------------
#slider_product {
  padding-left: 0;
}

#info_product {
  padding-right: 0;
  .heading {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

#product_page {
  .heading {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
  }
}

#show_select {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  .old_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #222;
  }
  .new_price {
    color: #990000;
  }
}

#product_data {
  text-align: right;
  select {
    display: inline-block;
    max-width: 200px;
    margin-bottom: 10px;
  }
  label {
    margin-bottom: 0;
    font-weight: 100;
  }
  input[type='number'] {
    width: 60px;
    display: inline-block;
    margin: 15px 0;
  }
  input[type='submit'] {
  }
}

#product_info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  h5 {
    color: #222;
    padding: 8px 10px;
    background: #c1c1c1;
    text-transform: uppercase;
  }
  ul {
    padding-left: 20px;
    list-style: none;
    li {
      line-height: 25px;
    }
  }
}

#product_description {
  font-family: 'Ubuntu', sans-serif;
  .heading {
    text-transform: uppercase;
    color: #222;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }
  p {
    font-size: 13px;
    line-height: 25px;
    text-align: justify;
  }
}

.cartpageheading {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0 20px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

.cartpage_item {
  height: 230px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  background: #f0f0f0;
  padding: 15px;
  margin: 10px 0;
  .heading_item {
    position: absolute;
    margin-top: 0;
    left: 230px;
    color: #333;
    h1 {
      font-size: 18px;
      margin-top: 0;
    }
  }
  .image_item {
    width: 200px;
    img {
      width: 100%;
    }
  }
  .desc_item {
    position: absolute;
    top: 40px;
    left: 230px;
    .size {
      margin: 20px 0 10px 0;
      ul {
        margin: 10px 0 10px 56px;
        line-height: 20px;
        list-style: none;
        padding-left: 0;
      }
    }
    .size_inner {
      position: relative;
      width: 200px;
      //margin-left: 100px;
    }
    .size_inner > a {
      background-color: #fff;
      color: $fontColor;
      border: 1px #adadad solid;
      padding: 3px 5px;
    }
    .size_inner > ul {
      display: none;
      background: #fff;
      list-style: none;
      padding: 3px 5px;
      margin: 5px;
      position: absolute;
      z-index: 100;
      top: -96px;
      right: 34px;
      line-height: 20px;
      border: 1px #adadad solid;
      a {
        color: $fontColor;
      }
    }
    .size_inner:hover > ul {
      display: block;
    }
    .price {
      float: left;
      margin: 5px 200px 5px 0;
      .old_price {
        text-decoration: line-through;
        color: #222;
      }
      .new_price {
        color: #990000;
      }
    }
    .quantity {
      float: left;
      margin: 5px 260px 5px 0;
      .minus, .plus {
        cursor: pointer;
        background: #666;
        width: 22px;
        height: 22px;
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 3px;
      }
    }
    .total {
      float: left;
      margin: 5px 0 5px 0;
      color: #333;
      font-size: 16px;
    }
    .removeItem {
      color: $fontColor;
      display: block;
      float: right;
      text-decoration: underline;
    }
  }
}

#cartpage_summary {
  p {
    background: #f0f0f0;
    text-align: right;
    padding: 10px 15px 20px 0;
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }
}

.cartsubmit {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 6px 0 0 0;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.cartsubmit:hover {
  color: #fff;
  text-decoration: none;
  //font-weight: 600;
}

#order {
  padding-left: 0;
  .heading {
    font-size: 20px;
    //margin: 0 0 10px 0;
  }
  form .heading {
    font-size: 16px;
    margin-top: 30px;
  }
  input[type='submit'] {
    margin: 5px 0 0 0;
    border: none;
  }
}

#orderlist {
  padding-right: 0;
  padding-left: 40px;
  .heading {
    font-size: 18px;
  }
}

.orderlist_item {
  background: #f0f0f0;
  margin: 10px 0;
  padding: 12px;
  div:first-child {
    padding: 0 10px 0 0;
    img {
      width: 100%;
    }
  }
}

.orderlist_desc {
  h5 {
    margin-top: 0;
    font-weight: 600;
  }
  p {
    font-size: 12px;
  }
  div:nth-of-type(1) {
    text-align: right;
  }
  div p:first-child {
    font-size: 14px;
    margin-bottom: 5px;
  }
  div p:last-child {
    margin: 0;
  }
}

#orderlist_total {
  font-weight: 600;
}

.splContEdit {
  display: none;
  margin-right: 0;
  margin-left: 0;
  margin-top: -12px;
}

// ----------------------------------------------------------------------------
@media screen and (max-width: 1200px) {
  .cartpage_item {
    .desc_item {
      .price {
        margin-right: 150px;
      }
      .quantity {
        margin-right: 200px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------
@media screen and (max-width: 992px) {
  .nav-top-title > a {
    letter-spacing: 0;
  }
  #toptext {
    padding: 5px 0;
    margin-right: 3px;
    font-size: 10px;
    float: right;
  }
  .item_container {
    .list_price {
      .old_price {
        font-size: 11px;
      }
      .new_price {
        font-size: 12px;
      }
    }
    .desc_price {
      padding-left: 0;
      img {
        width: 30px;
      }
      .old_price {
        font-size: 11px;
      }
      .new_price {
        font-size: 13px;
      }
    }
  }
  .cartpage_item {
    .desc_item {
      .price {
        margin-right: 100px;
      }
      .quantity {
        margin-right: 100px;
      }
    }
  }
}

// Mobile ------------------------------------------------------------------------
@import "mobile767";
@import "mobile374";




