body {
  font: 14px 'PT Sans', sans-serif;
  color: #666; }

.btn-default {
  border-radius: 0; }

.badge {
  padding: 2px 4px;
  font-size: 10px;
  color: #666;
  background-color: #fff;
  border: 1px solid #666; }

.form-control {
  border-radius: 0; }

hr {
  margin-top: 5px;
  margin-bottom: 5px; }

.slideout-menu {
  right: auto; }

.btn-hamburger {
  right: auto;
  /*right: 12px;*/ }

button.js-slideout-toggle {
  display: none; }

.menu {
  background-color: #767676;
  font-family: 'Ubuntu', sans-serif;
  border-right: 1px solid #b4b3b3; }

#menu ul {
  display: block; }

.menu a {
  color: #fff; }

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  background: #444; }

.menu-header-title {
  letter-spacing: 0.1em;
  font: 25px 'Fascinate', cursive;
  margin: 0; }

.menu-section {
  margin: 25px 0; }

.menu-section-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0; }

.menu-section-first {
  width: 100%;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  color: #dddddd; }
  .menu-section-first a {
    display: block;
    padding: 10px 30px;
    font-size: 16px; }

.menu-section-first > li > a {
  background-color: #e6e6e6;
  color: #666; }

.menu-section-second {
  background-color: #ffffff;
  padding: 5px 0 5px 10px;
  text-transform: none; }
  .menu-section-second a {
    color: #666;
    padding: 10px 0 10px 30px; }
  .menu-section-second hr {
    margin-top: -10px;
    margin-bottom: 5px; }

#mocha {
  text-align: left;
  margin: 0 !important; }

#mocha-stats {
  top: 70px; }

.btn-hamburger {
  border: none;
  position: absolute;
  top: 24px;
  left: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  font-size: 45px;
  z-index: 99; }

.heart {
  font-style: normal;
  font-weight: 600;
  color: #c0392b;
  text-decoration: none; }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.slidecontainer {
  border: none;
  margin-bottom: 0; }

#topstring {
  background-color: #f0f0f0;
  text-align: right; }

#toplink {
  float: left;
  background: #fff;
  padding: 4px 10px; }
  #toplink a {
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px; }

#toptext {
  padding: 4px 0;
  margin-right: 3px;
  font-size: 12px;
  float: right; }

#topphone {
  float: right;
  padding: 4px 0 4px 10px;
  font-size: 12px;
  border-left: 1px solid #ccc; }

#logotype, #cart {
  padding: 0; }

#logotype a {
  display: inline-block;
  margin: 25px 0 0 0;
  font-size: 45px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #444444; }
#logotype p {
  font-family: 'Ubuntu', sans-serif; }
#logotype h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0 0 10px 0; }

#cart > a {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 60px 0 0 0;
  padding: 7px 20px;
  text-decoration: none; }

#cartinner {
  display: none;
  border: 1px solid #b4b3b3;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  position: absolute;
  z-index: 100;
  background: #fff;
  right: 0;
  top: 92px; }

#cartlistgoods {
  max-height: 400px;
  overflow-y: scroll; }

#cartinner > div:first-child {
  background-color: #b4b3b3;
  height: 40px; }
  #cartinner > div:first-child p {
    color: #333;
    font-weight: 600;
    margin-left: 10px;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif; }

.itemincart {
  margin-left: 0;
  margin-right: 0;
  padding: 0 5px; }
  .itemincart .cartoldprice {
    text-decoration: line-through;
    font-size: .8em;
    line-height: 0; }
  .itemincart .cartnewprice {
    color: #900;
    margin-bottom: 6px; }

.itemincart div {
  padding: 10px; }
  .itemincart div img {
    width: 50px; }

.itemincart.subtotal {
  text-align: right;
  border-top: 1px solid #ddd; }

.carttitlegood > p:first-child {
  font-size: 12px;
  font-weight: 600;
  line-height: 10px; }

#cartfooter {
  background-color: #b4b3b3;
  height: 50px; }

#cartfooter a:first-child {
  color: #333;
  margin-left: 10px;
  line-height: 50px;
  border-bottom: 1px solid #666;
  text-decoration: none; }

#cartfooter a:last-child {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 10px 10px 0 0;
  padding: 7px 20px;
  text-decoration: none; }

#cart:hover #cartinner {
  display: block; }

nav > ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  nav > ul a {
    color: #666; }

.nav-top-section {
  display: none;
  position: absolute;
  z-index: 100; }

.nav-top-section {
  list-style: none;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #222;
  padding: 15px;
  justify-content: left;
  flex-flow: row wrap; }

.nav-top-title > a {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: #333; }

.nav-top-title > p {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  margin: 0; }

.nav-top-title > a:hover, .nav-top-title > p:hover {
  color: #666; }

.nav-top-title {
  padding: 10px 0; }

.nav-second-title {
  padding: 15px; }
  .nav-second-title img {
    width: 70px;
    margin-bottom: 10px; }

.nav-second-title > a {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif; }

.nav-second-section {
  list-style: none;
  margin-top: 2px;
  padding: 0; }

.nav-second-section li {
  margin-bottom: 3px; }

.nav-second-section a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif; }

.nav-second-section a:hover {
  color: #9d9d9d; }

.nav-top-title:hover > .nav-top-section {
  display: flex; }

#mainBanner {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height: 55px;
  text-align: center; }
  #mainBanner a {
    line-height: 55px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: #666;
    text-decoration: none; }
    #mainBanner a span {
      font-size: 1.1em; }

ul.crumbs {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0; }

.crumbs li {
  display: inline;
  font-size: 0.8em; }

.crumbs a {
  color: #999;
  padding: .4em .4em;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif; }

.crumbs span {
  color: #333;
  font-family: 'Ubuntu', sans-serif; }

.maincontent {
  margin-top: 15px; }
  .maincontent .heading {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0 20px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333; }

.rightcontent {
  padding-right: 0; }

#leftsidebar {
  padding-left: 0;
  padding-right: 0; }

#sidebar_catalog {
  padding-left: 0;
  padding-right: 0; }
  #sidebar_catalog h4.heading {
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px; }
  #sidebar_catalog h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0; }
  #sidebar_catalog ul {
    padding-left: 10px; }
  #sidebar_catalog li {
    list-style: none; }
  #sidebar_catalog li > a {
    color: #666;
    font-size: 11px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif; }
  #sidebar_catalog li > a:hover {
    color: #9d9d9d; }

#bedding_filter {
  margin: -10px 0 0 0;
  font-family: 'Ubuntu', sans-serif; }
  #bedding_filter ul {
    list-style: none;
    padding-left: 10px; }
    #bedding_filter ul li {
      font-size: 11px;
      font-family: 'Ubuntu', sans-serif; }
  #bedding_filter h4 {
    color: #333;
    text-transform: uppercase;
    font-size: 12px; }
  #bedding_filter a.heading {
    font-size: 14px; }
  #bedding_filter input {
    display: initial; }
  #bedding_filter label {
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 0;
    margin-left: 10px;
    color: #666;
    font-size: 12px;
    cursor: pointer; }
  #bedding_filter label:hover {
    color: #9d9d9d; }
  #bedding_filter input[type='submit'] {
    float: right;
    margin: 10px 10px 0 0; }

.item-responsive {
  position: relative; }

.item-responsive:before {
  display: block;
  width: 100%; }

.item-16by9 {
  padding-top: 56.25%; }

.item-responsive > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important; }

.carousel-caption {
  height: 96%;
  padding-bottom: 0;
  padding-top: 0;
  left: 4%;
  width: 92%;
  text-align: right; }
  .carousel-caption .labelbox {
    float: right;
    height: 190px;
    padding: 27px 25px;
    background: url("../image/label.png") no-repeat;
    background-size: 100% 70%; }
    .carousel-caption .labelbox span {
      z-index: 10; }
    .carousel-caption .labelbox .carouselprice {
      font-size: 24px;
      top: 45px;
      right: 29px;
      font-weight: 600; }
    .carousel-caption .labelbox .carouseloldprice {
      color: #2f3034;
      text-decoration: line-through;
      font-size: 20px;
      top: 20px;
      right: 34px; }
  .carousel-caption .carouseltitle {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    bottom: 10px;
    left: 10px; }

#carousel {
  margin: 10px auto 30px auto; }

.category {
  padding: 0;
  list-style: none; }
  .category .thumbnail {
    border: none; }
  .category .caption {
    padding: 0; }
  .category h2 {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 10px 0; }

#brands {
  margin-bottom: 30px;
  list-style: none;
  padding: 0; }
  #brands li.brands {
    float: left;
    border: 1px solid #dddddd;
    text-align: center;
    margin: 10px 10px;
    padding: 5px 30px; }
    #brands li.brands a {
      line-height: 50px;
      color: #666;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px; }

.presentarticles {
  font-family: 'Ubuntu', sans-serif; }
  .presentarticles .thumbnail {
    height: 300px;
    overflow: hidden; }
    .presentarticles .thumbnail img {
      width: 100%; }
    .presentarticles .thumbnail h4 {
      font-size: 16px; }

#toTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  transition: background-color 0.2s, color 2s; }

footer {
  min-height: 360px;
  padding-top: 20px;
  background-color: #f0f0f0;
  border-top: 1px solid black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  margin-top: 30px; }
  footer .container {
    padding: 0; }
  footer .heading {
    font-size: 13px;
    color: #222;
    text-transform: uppercase;
    margin: 10px 0; }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      line-height: 1.9em; }
  footer a {
    color: #666; }
  footer a:hover {
    text-decoration: none;
    color: #9d9d9d; }
  footer label {
    font-weight: 100; }

#bedding_submenu img {
  height: 50px; }
#bedding_submenu ul a p {
  font-size: 12px; }

#bedding_submenu > p.heading {
  font-size: 14px; }

#bedding_submenu > ul {
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  list-style: none;
  padding: 0; }
  #bedding_submenu > ul li {
    text-align: center; }
    #bedding_submenu > ul li a {
      display: block;
      color: #666; }

#list_sort .dropdown {
  float: right;
  margin-right: 15px;
  margin-bottom: 5px; }
  #list_sort .dropdown .dropdown-menu {
    border-radius: 0;
    margin-top: 0; }

#products_block {
  margin-bottom: 25px; }
  #products_block .product_count {
    margin: 0; }
    #products_block .product_count p {
      font-weight: 600; }

#products_list > li {
  height: 315px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px; }
  #products_list > li .list_hidden {
    display: none; }

#products_list > li:hover {
  overflow: inherit; }
  #products_list > li:hover .item_container {
    position: relative;
    height: initial;
    z-index: 100;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 1px #eee; }
  #products_list > li:hover .list_hidden {
    display: block; }
  #products_list > li:hover .list_heading.clampestitle {
    display: none; }

#products_list {
  list-style: none;
  padding: 0;
  margin: 0; }
  #products_list .list_image {
    height: 200px;
    overflow: hidden; }

.item_container {
  padding: 10px; }
  .item_container a {
    text-decoration: none;
    color: #666; }
  .item_container img {
    width: 100%; }
  .item_container .list_heading {
    font-weight: 100;
    font-size: 14px;
    margin: 10px 0 5px 0;
    font-family: 'Ubuntu', sans-serif;
    color: #333; }
  .item_container .list_price {
    color: #666;
    text-align: right;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0; }
    .item_container .list_price span:not([class]) {
      color: #000; }
    .item_container .list_price .old_price {
      font-size: 12px;
      text-decoration: line-through; }
    .item_container .list_price .new_price {
      color: #990000; }
  .item_container .list_size,
  .item_container .list_material,
  .item_container .list_brand,
  .item_container .list_pillowcases {
    font-size: 13px;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif; }
  .item_container .list_size span,
  .item_container .list_material span,
  .item_container .list_brand span,
  .item_container .list_pillowcases span {
    color: #000; }
  .item_container .list_material,
  .item_container .list_brand,
  .item_container .list_pillowcases {
    line-height: 20px; }
  .item_container .desc_price {
    padding-left: 0px;
    list-style: none; }
    .item_container .desc_price span:not([class]) {
      color: #000;
      font-size: .9em; }
    .item_container .desc_price li {
      line-height: 35px; }
    .item_container .desc_price img {
      height: 24px;
      width: initial;
      margin: 0 10px 0 0; }
    .item_container .desc_price .old_price {
      font-size: 12px;
      text-decoration: line-through; }
    .item_container .desc_price .new_price {
      color: #990000; }

#article_under_catalog {
  line-height: 24px;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif; }
  #article_under_catalog p {
    margin: 5px 0 20px 0;
    text-align: justify; }
  #article_under_catalog a {
    text-transform: uppercase;
    color: #333; }

#slider_product {
  padding-left: 0; }

#info_product {
  padding-right: 0; }
  #info_product .heading {
    margin-top: 0;
    margin-bottom: 5px; }

#product_page .heading {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 5px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333; }

#show_select {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px; }
  #show_select .old_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #222; }
  #show_select .new_price {
    color: #990000; }

#product_data {
  text-align: right; }
  #product_data select {
    display: inline-block;
    max-width: 200px;
    margin-bottom: 10px; }
  #product_data label {
    margin-bottom: 0;
    font-weight: 100; }
  #product_data input[type='number'] {
    width: 60px;
    display: inline-block;
    margin: 15px 0; }

#product_info {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px; }
  #product_info h5 {
    color: #222;
    padding: 8px 10px;
    background: #c1c1c1;
    text-transform: uppercase; }
  #product_info ul {
    padding-left: 20px;
    list-style: none; }
    #product_info ul li {
      line-height: 25px; }

#product_description {
  font-family: 'Ubuntu', sans-serif; }
  #product_description .heading {
    text-transform: uppercase;
    color: #222;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1; }
  #product_description p {
    font-size: 13px;
    line-height: 25px;
    text-align: justify; }

.cartpageheading {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0 20px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333; }

.cartpage_item {
  height: 230px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  background: #f0f0f0;
  padding: 15px;
  margin: 10px 0; }
  .cartpage_item .heading_item {
    position: absolute;
    margin-top: 0;
    left: 230px;
    color: #333; }
    .cartpage_item .heading_item h1 {
      font-size: 18px;
      margin-top: 0; }
  .cartpage_item .image_item {
    width: 200px; }
    .cartpage_item .image_item img {
      width: 100%; }
  .cartpage_item .desc_item {
    position: absolute;
    top: 40px;
    left: 230px; }
    .cartpage_item .desc_item .size {
      margin: 20px 0 10px 0; }
      .cartpage_item .desc_item .size ul {
        margin: 10px 0 10px 56px;
        line-height: 20px;
        list-style: none;
        padding-left: 0; }
    .cartpage_item .desc_item .size_inner {
      position: relative;
      width: 200px; }
    .cartpage_item .desc_item .size_inner > a {
      background-color: #fff;
      color: #666;
      border: 1px #adadad solid;
      padding: 3px 5px; }
    .cartpage_item .desc_item .size_inner > ul {
      display: none;
      background: #fff;
      list-style: none;
      padding: 3px 5px;
      margin: 5px;
      position: absolute;
      z-index: 100;
      top: -96px;
      right: 34px;
      line-height: 20px;
      border: 1px #adadad solid; }
      .cartpage_item .desc_item .size_inner > ul a {
        color: #666; }
    .cartpage_item .desc_item .size_inner:hover > ul {
      display: block; }
    .cartpage_item .desc_item .price {
      float: left;
      margin: 5px 200px 5px 0; }
      .cartpage_item .desc_item .price .old_price {
        text-decoration: line-through;
        color: #222; }
      .cartpage_item .desc_item .price .new_price {
        color: #990000; }
    .cartpage_item .desc_item .quantity {
      float: left;
      margin: 5px 260px 5px 0; }
      .cartpage_item .desc_item .quantity .minus, .cartpage_item .desc_item .quantity .plus {
        cursor: pointer;
        background: #666;
        width: 22px;
        height: 22px;
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 3px; }
    .cartpage_item .desc_item .total {
      float: left;
      margin: 5px 0 5px 0;
      color: #333;
      font-size: 16px; }
    .cartpage_item .desc_item .removeItem {
      color: #666;
      display: block;
      float: right;
      text-decoration: underline; }

#cartpage_summary p {
  background: #f0f0f0;
  text-align: right;
  padding: 10px 15px 20px 0;
  color: #333;
  font-size: 18px;
  font-weight: 600; }

.cartsubmit {
  display: block;
  background: #900;
  color: #ffffff;
  float: right;
  margin: 6px 0 0 0;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif; }

.cartsubmit:hover {
  color: #fff;
  text-decoration: none; }

#order {
  padding-left: 0; }
  #order .heading {
    font-size: 20px; }
  #order form .heading {
    font-size: 16px;
    margin-top: 30px; }
  #order input[type='submit'] {
    margin: 5px 0 0 0;
    border: none; }

#orderlist {
  padding-right: 0;
  padding-left: 40px; }
  #orderlist .heading {
    font-size: 18px; }

.orderlist_item {
  background: #f0f0f0;
  margin: 10px 0;
  padding: 12px; }
  .orderlist_item div:first-child {
    padding: 0 10px 0 0; }
    .orderlist_item div:first-child img {
      width: 100%; }

.orderlist_desc h5 {
  margin-top: 0;
  font-weight: 600; }
.orderlist_desc p {
  font-size: 12px; }
.orderlist_desc div:nth-of-type(1) {
  text-align: right; }
.orderlist_desc div p:first-child {
  font-size: 14px;
  margin-bottom: 5px; }
.orderlist_desc div p:last-child {
  margin: 0; }

#orderlist_total {
  font-weight: 600; }

.splContEdit {
  display: none;
  margin-right: 0;
  margin-left: 0;
  margin-top: -12px; }

@media screen and (max-width: 1200px) {
  .cartpage_item .desc_item .price {
    margin-right: 150px; }
  .cartpage_item .desc_item .quantity {
    margin-right: 200px; } }
@media screen and (max-width: 992px) {
  .nav-top-title > a {
    letter-spacing: 0; }

  #toptext {
    padding: 5px 0;
    margin-right: 3px;
    font-size: 10px;
    float: right; }

  .item_container .list_price .old_price {
    font-size: 11px; }
  .item_container .list_price .new_price {
    font-size: 12px; }
  .item_container .desc_price {
    padding-left: 0; }
    .item_container .desc_price img {
      width: 30px; }
    .item_container .desc_price .old_price {
      font-size: 11px; }
    .item_container .desc_price .new_price {
      font-size: 13px; }

  .cartpage_item .desc_item .price {
    margin-right: 100px; }
  .cartpage_item .desc_item .quantity {
    margin-right: 100px; } }
@media screen and (max-width: 767px) {
  button.js-slideout-toggle {
    display: block; }

  nav {
    display: none; }

  #logotype {
    text-align: right; }
    #logotype a {
      font-size: 32px; }

  #cart a {
    margin: 5px 0 10px 0; }

  #cartinner {
    top: 36px; }

  #mainBanner {
    overflow: hidden; }
    #mainBanner a {
      font-size: 12px;
      white-space: nowrap; }

  span.carouseltitle {
    bottom: 3px !important;
    font-size: 18px !important;
    left: 3px !important; }

  .category h2 {
    font-size: 12px; }

  .descarticles .thumbnail {
    height: auto; }

  .presentarticles {
    max-width: 400px;
    margin: 0 auto;
    color: red; }

  #brands li.brands a {
    line-height: 35px;
    font-size: 15px; }

  #bedding_submenu img {
    width: 50px; }
  #bedding_submenu p {
    font-size: 12px; }

  #bedding_filter a.heading, #bedding_filter p.heading {
    font-size: 12px; }
  #bedding_filter .filter_goods {
    font-size: 11px; }
  #bedding_filter .formstyle .radio:not(checked) + label {
    padding: 0 0 0 25px; }
  #bedding_filter .formstyle .checkbox:not(checked) + label {
    padding: 0 0 0 45px; }

  .splCont {
    display: block; }

  #list_sort .dropdown {
    margin-bottom: 15px; }

  .item_container {
    max-width: 200px;
    margin: 0 auto;
    padding: 0; }

  #products_list > li {
    height: 260px; }

  #products_list > li:hover {
    overflow: hidden; }

  #product_page > div:first-child {
    padding-right: 0; }

  #product_page .heading {
    font-size: 16px; }

  #carousel {
    display: none; }

  #product_description {
    padding: 0 15px; }

  .cartpage_item {
    position: initial;
    height: initial; }
    .cartpage_item .heading_item {
      position: initial; }
      .cartpage_item .heading_item h1 {
        font-size: 16px;
        margin-top: 0; }
    .cartpage_item .image_item {
      width: 100px;
      float: left;
      margin: 0 10px 10px 0; }
      .cartpage_item .image_item img {
        width: 100%; }
    .cartpage_item .desc_item {
      position: initial; }
      .cartpage_item .desc_item .size_inner {
        margin-left: 100px; }
      .cartpage_item .desc_item .size_inner > ul {
        right: 26px; }
    .cartpage_item .desc_item .size ul {
      margin-left: 110px; }
    .cartpage_item .desc_item .price {
      float: initial;
      margin-left: 110px; }
    .cartpage_item .desc_item .quantity {
      float: initial;
      margin-left: 110px;
      margin-right: 0; }
    .cartpage_item .desc_item .total {
      float: initial;
      margin-left: 110px; }

  #order {
    padding-left: 15px; }

  .splCont {
    display: none;
    padding: 5px 15px; }

  .splLink {
    display: block; } }
@media screen and (max-width: 374px) {
  #bedding_filter_form .filter_goods li label {
    font-size: 11px;
    margin-left: 2px; } }

/*# sourceMappingURL=style.css.map */
