
{% for key, value in collection %}

    <li class="col-sm-4 col-xs-6">

        <div class="item_container">
            <a href="/catalog/{{ category }}/{{ value.id }}">
                <div class="list_image">
                    <img src="/{{ pathPhotoGoods }}/{{ value.photo.0.name }}" alt="">
                </div>
                <div>
                    <h3 class="list_heading clampestitle">{{ value.name }}</h3>
                    <p class="list_heading list_hidden">{{ value.name }}</p>
                    <p class="list_price">

                        {#Если нет старой цены - отображаем без зачеркиваний и красного цвета. В БД должен быть NULL !!!#}
                        {% if value.price_old is null %}
                            <span>{{ value.price }}&#8381;</span>
                        {% else %}
                            {#Если старая цена есть, то она будет отображена зачеркнутой, а основная (новая) - красной#}
                            <span class="old_price">{{ value.price_old }}</span>
                            <span class="new_price">{{ value.price }}&#8381;</span>
                        {% endif %}

                    </p>
                    <p class="list_size">Размер: <span>{{ value.size_title | capitalize }}</span></p>
                    <div class="list_hidden">
                        <hr>
                        <p class="list_material">Материал: <span>{{ value.material_title | capitalize }}</span></p>
                        <p class="list_brand">Бренд: <span>{{ value.brand_title }}</span></p>
                        <p class="list_pillowcases">Наволочки: <span>{{ value.pillowcases_title }}</span></p>
                        <ul class="desc_price">

                            {% for num,item in value.prices %}
                                <li>
                                    <img src="/image/icon-{{ item.size_name }}.png" title="{{ item.size_title | capitalize }}" alt="">&nbsp;
                                    {#Если нет старой цены - отображаем без зачеркиваний и красного цвета. В БД должен быть NULL !!!#}
                                    {% if item.price_old is null %}
                                        <span>{{ item.price }}&#8381;</span>
                                    {% else %}
                                        <span class="old_price">{{ item.price_old }}&#8381;</span>
                                        <span class="new_price">{{ item.price }}&#8381;</span>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </li>

{% else %}
    Нет данных
{% endfor %}