
<h1 class="heading">{{ data.product.name }}</h1>

<div id="show_select">

    {#Если нет старой цены - отображаем без зачеркиваний и красного цвета. В БД должен быть NULL !!!#}
    {% if data.product.price_old is null %}
        <span>{{ data.product.price }}&#8381;</span>
    {% else %}
        <span class="old_price">{{ data.product.price_old }}</span>
        <span class="new_price">{{ data.product.price }}&#8381;</span>
    {% endif %}

</div>

<div id="product_data">
    <form action="" method="post">
        <select class="form-control" id="select_size_product" onchange="showSelectedProduct(this)"
                name="id">

            {% for value in data.product.prices %}
                <option data-oldprice="{{ value.price_old }}" data-newprice="{{ value.price }}&#8381;"
                        value="{{ value.id }}"
                        {% if value.price == data.product.price %}
                            selected
                        {% endif %}
                >{{ value.size_title | capitalize }} - {{ value.price }}&#8381;

                </option>
            {% endfor %}

        </select>
        <br>
        <input type="submit" class="btn btn-default" value="В корзину">
    </form>
</div>

<div id="product_info">
    <h5>Основная информация</h5>
    <ul>
        <li><strong>Материал:</strong>&nbsp;{{ data.product.material_description }}</li>
        <li><strong>Плотность:</strong>&nbsp;{{ data.product.density }} г/м2</li>
        <li><strong>Размерность:</strong>&nbsp;{{ data.product.size_title | capitalize }}</li>
        <li><strong>Комплект:</strong>&nbsp;наволочки {{ data.product.pillowcases_title }},
            {{ data.product.size_description }}</li>
    </ul>
    <h5>Дополнительно</h5>
    <ul>
        {#<li><strong>Застежка наволочек:</strong> Запах (клапан)</li>#}
        {#<li><strong>Застежка пододеяльника:</strong> Молния/пуговицы - в зависимости от партии</li>#}
        <li><strong>Бренд:</strong>&nbsp;{{ data.product.brand_title }}</li>
        <li><strong>Страна происхождения:</strong>&nbsp;{{ data.product.region_title | capitalize }}</li>
    </ul>
</div>