{% extends '/templates/site_layout.html.twig' %}

{% block head_title %}
    {{ data['head_title'] | capitalize }}
{% endblock %}

{% block bredCrumbs %}
    <div class="row">
        <ul class="crumbs">
            <li>
                <a href="/">WebCotton</a>
                <i class="glyphicon glyphicon-menu-right" aria-hidden="true" style="font-size: 0.7em"></i>
            </li>
            <li class="active">
                <span>{{ data['name_category'] }}</span>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}

    <!--sidebar-->
    <div id="leftsidebar" class="col-sm-2">

        {{ data.filter | raw }}

    </div>
    <!--endsidebar-->

    <div class="col-sm-10 rightcontent">

{#        <!--submenu-->
        <div id="bedding_submenu">
            <p class="heading">Выберите тип белья</p>
            <ul>
                <li>
                    <a href="#">
                        <img src="/image/icon-polutornoe.png" alt="">
                        <p>Полуторный&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/icon-dvuhspalnoe.png" alt="">
                        <p>Двухспальный&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/icon-euro.png" alt="">
                        <p>Евро&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/icon-family.png" alt="">
                        <p>Семейный&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/icon-kinder.png" alt="">
                        <p>Детское&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/sheets.png" alt="">
                        <p>Простыни&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/pillow.png" alt="">
                        <p>Наволочки&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/image/quilt.gif" alt="">
                        <p>Пододеяльники&nbsp;<span class="badge">85</span></p>
                    </a>
                </li>
            </ul>
        </div>
        <!--end submenu-->

        <hr>#}

        <!--sort-->
        <div id="list_sort">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSort"
                        data-toggle="dropdown">
                    Сортировать по:&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSort">
                    <li><a href="javascript:sortByPrice('asc')">Цене, сначала недорогие</a></li>
                    <li><a href="javascript:sortByPrice('desc')">Цене, сначала дорогие</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end sort-->

        <!--products-->
        <div id="products_block">
            <ul id="products_list" class="row">

                {{ data.catalog | raw }}

            </ul>

            <div class="product_count">
                <p>Показано 12 из 80 товаров</p>
                <a href="#" class="btn btn-default">Показать еще</a>
            </div>

        </div>
        <!--end og products-->

        <div id="article_under_catalog" class="row">
            <div>
                {{ data.article.description | raw }}

                <div class="splContEdit row">
                    {{ data.article.text | raw}}
                </div>

                <a class="splLinkEdit" href="" data-edit="Свернуть">Читать далее..</a>
            </div>
        </div>

    </div>

{% endblock %}