{% extends '/templates/site_layout.html.twig' %}

{% block head_title %}
    {{ data['head_title'] | capitalize }}
{% endblock %}

{% block bredCrumbs %}
    <div class="row">
        <ul class="crumbs">
            <li>
                <a href="/">WebCotton</a>
                <i class="glyphicon glyphicon-menu-right" aria-hidden="true" style="font-size: 0.7em"></i>
            </li>
            <li>
                <a href="/catalog/{{ data.url_category }}">{{ data.name_category }}</a>
                <i class="glyphicon glyphicon-menu-right" aria-hidden="true" style="font-size: 0.7em"></i>
            </li>
            <li class="active">
                <span>{{ data.product.name }}</span>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}

    <div id="slider_product" class="col-sm-7">
        <section class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">

                    {% for item in data.product.photo %}

                        <li>
                            <a href="/{{ pathPhotoGoods }}/{{ item.filename }}"
                               data-lightbox="productfoto">
                                <img src="/{{ pathPhotoGoods }}/{{ item.filename }}"/>
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">

                    {% for item in data.product.photo %}

                        <li>
                            <img src="/{{ pathPhotoGoods }}/{{ item.filename }}"/>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </section>
    </div>

    <div id="info_product" class="col-sm-5">

        {{ info_product | raw }}

    </div>

    <div class="clearfix"></div>

    <div id="product_description">
        <h5 class="heading">Описание</h5>
        <p>
            {{ data.product.description | raw }}
        </p>
        <h5 class="heading">Примечание</h5>
        <p>
            На сайте представлена информация о товаре, заявленная товаропроизводителем. Цвет изделия
            может отличаться от изображения в зависимости от настроек Вашего монитора. Данное
            несоответствие не расценивается как брак.
        </p>
    </div>

{% endblock %}